@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  
}
.homepage_bg{
  background: url("./image/bghome.svg");
}
.skillsection{
  background-image: url("../src/image/TimelineImage.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.instructorimage{
  background-image: url("../src/image/Instructor.png");
   background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}
.active{
  color:#ffe418
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inputstyle{

  font-size:30px;
  color: rgb(236, 229, 40);
  background-color: rgb(40, 39, 39);
  border: 2px red;
  
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #ffe418;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 





